/* You can add global styles to this file, and also import other style files */
.bold {
    font-weight: bold;
}

.red {
    color: red;
}

a.active {
    padding-bottom: 5px;
    border-bottom: 2px solid #d25ca1;
}

a {
    text-decoration: none;
    color: black;
}